<p id="notice"><%= notice %></p>

<p>
  <b>Urlsmall:</b>
  <%= @logo.urlsmall %>
  <img src="../img/logos/<%= @logo.urlsmall %>" />
</p>

<p>
  <b>Urllarge:</b>
  <%= @logo.urllarge %>
  <img src="../img/logos/<%= @logo.urllarge %>" />
</p>

<p>
  <b>Correct:</b>
  <%= @logo.correct %>
</p>

<p>
  <b>Choice1:</b>
  <%= @logo.choice1 %>
</p>

<p>
  <b>Choice2:</b>
  <%= @logo.choice2 %>
</p>

<p>
  <b>Choice3:</b>
  <%= @logo.choice3 %>
</p>


<%= link_to 'Edit', edit_logo_path(@logo) %> |
<%= link_to 'Back', logos_path %>
