<div id="content">
  <h2>Suggest a Logo</h2>
<%= form_for(@suggestion) do |f| %>
<%= f.label :name, 'Your Name' %>
<%= f.text_field :name %><br /><br />
    
<%= f.label :email, "Email/Twitter" %>
<%= f.text_field :email %><br /><br />

<%= f.label :logo, 'Logo URL' %>
<%= f.text_field :logo %><br /><br />
    
<%=  f.submit 'Submit' %>
<% end %>
</div>